<ul class="list-group list-group-flush">
    <a class="list-group-item" href="{% url 'ac:dashboard' %}" data-toggle="tooltip" data-placement="bottom" title="Dashboard"><i class="las la-shapes la-lw"></i>
        <span>dashboard</span>
    </a>
    <a class="list-group-item" href="{% url 'dr:staticsts' %}" data-toggle="tooltip" data-placement="bottom" title="Dashboard"><i class="las la-shapes la-lw"></i>
        <span>statistics</span>
    </a>
    <a class="list-group-item" href="{% url 'ut:settings' %}" data-toggle="tooltip" data-placement="bottom" title="Dashboard"><i class="las la-shapes la-lw"></i>
        <span>settings</span>
    </a>
    <hr class="divider" />
</ul>