
<a class="list-group-item" href="{% url 'cl:dashboard' %}">
    <i class="las la-shapes la-lw"></i><span>My appointments</span>
</a>
<a class="list-group-item" href="{% url 'cl:doctors' %}">
    <i class="las la-calendar-check"></i><span>Specialists</span>
</a>
<a class="list-group-item" href="{% url 'cl:new_appointment' %}">
    <i class="las la-calendar-check"></i><span>New appointment</span>
</a>
<a class="list-group-item" href="{% url 'cl:client_details' %}">
    <i class="las la-calendar-check"></i><span>Profile</span>
</a>
<a class="list-group-item" href="{% url 'ut:settings' %}">
    <i class="las la-calendar-check"></i><span>settings</span>
</a>
