{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
        <title>Admin</title>
        {% endblock %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{% static 'css/vendors/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/vendors/line-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/pages/dashboard.css' %}" />
        <link rel="stylesheet" href="{% static 'css/pages/layout.css' %}" />
        
        <link rel="stylesheet" href="{% static 'css/vendors/Chart.min.css' %}" />
        
        <link rel="icon" href="{% static 'images/hospital-website.svg' %}" />
        {% block static %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg shadow-sm fixed-top">
                <a class="navbar-brand" href="{% url 'home_page' %}">
                    <img src="{% static 'images/hospital-website.svg' %}" /><span>MRS</span>
                </a>
                {% block profile %}
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link profile-dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="rounded-circle" src="{{ request.user.imageURL }}" /><span class="d">{{ request.user.get_full_name }}</span></a>
                                <div class="dropdown">
                                    <div class="dropdown-menu shadow-lg profile-dropdown-menu" aria-labelledby="profile-dropdown">
                                        <a class="dropdown-item" href="#"><i class="las la-user mr-2"></i>profile</a>
                                        <a class="dropdown-item" href="#"><i class="las la-cog mr-2"></i>settings</a>
                                        <a class="dropdown-item" href="{% url 'user:logout' %}"><i class="las la-cog mr-2"></i>logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% endblock %}
            </nav>
        </header>
        {% block content %}
        {% endblock %}
    </body>

    <script src="{% static 'js/vendors/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendors/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    </html>
