{% extends 'main.html' %}
{% load static %}
{% block title %}
<title>Settigns</title>
{% endblock %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/pages/settings.css' %}" />
{% endblock %}

{% block content %}
<main>
  <div class="side-nav">
    <ul class="list-group list-group-flush">
      {% if request.user.user_type == 'frontdesk' %}
        {% include 'adminstration/admin_side_bar.html' %}
      {% elif request.user.user_type == 'patient' %}
        {% include 'client/cliend_side_bar.html' %}
      {% elif request.user.user_type == 'cashier' %}
        {% include 'cashier/cashier_side_bar.html' %}
      {% elif request.user.user_type == 'doctor' %}
        {% include 'doctor/doctor_side_bar.html' %}
      {% elif request.user.user_type == 'accauntant' %}
        {% include 'accauntant/side_bar.html' %}
      {% elif request.user.user_type == 'director' %}
        {% include 'director/side_bar.html' %}
      {% endif %}
    </ul>
  </div>
  <div class="main-content">
    <div class="container-fluid">
      <div class="section"><h5 class="page-title">settings</h5></div>
      <div class="section profile-section">
        <div class="card container">
          <div class="card-header">
            <h5>password</h5>
            <p>
              A secure password and updated recovery info help protect your
              account.
            </p>
          </div>
          <div class="card-body">
            <div class="sub-section col-sm-8 col-md-12 col-lg-8">
              <div class="sub-section-body">
                {% include 'partials/_flash_messages.html' %}
                <form method="post">
                  {% csrf_token %}
                  <div class="user-password-form">
                    <div class="form-row">
                      <div class="form-group col-sm-8">
                        <label>current password</label>
                        <input class="form-control" name="password" placeholder="old password" type="password" required/>
                      </div>
                      <div class="form-group col-sm-8">
                        <label>new password</label>
                        <input class="form-control" name="password1" placeholder="new password" type="password" required/>
                      </div>
                      <div class="form-group col-sm-8">
                        <label>re-type new password</label>
                        <input class="form-control" name="password2" placeholder="re-type new password" type="password" required/>
                      </div>
                    </div>
                    <button class="btn btn-dark-red-f-gr mt-4">
                      <i class="las la-sync"></i>change my password
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
