{% extends 'main.html' %}
{% load static %}
{% block title %}
<title>Add Doctor</title>
{% endblock %}

{% block static %}
  <link rel="stylesheet" href="{% static 'css/pages/settings.css' %}" />
{% endblock %}

{% block content %}
    <main>
      <div class="side-nav">
        <ul class="list-group list-group-flush">
          {% include 'adminstration/admin_side_bar.html' %}
        </ul>
      </div>
      <div class="main-content">
        <div class="container-fluid">
          <div class="section"><h5 class="">Add Specialist</h5></div>
          <div class="section profile-section">
            {% include 'partials/_flash_messages.html' %}
            <form action="{% url 'user:register_user' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="card container">
                <div class="card-header">
                  <h5>personal details</h5>
                </div>
                <div class="card-body">
                  <div class="sub-section col-lg-10 col-md-12">
                    <div class="sub-section-title"><h6>profile picture</h6></div>
                    <div class="sub-section-body">
                      <div class="row">
                        <div class="col-lg-2 col-md-4">
                          <img class="rounded-circle" src="{% static 'images/people.svg' %}" />
                        </div>
                        <div class="col-lg-6 col-md-8 d-flex justify-content-center align-items-start flex-column">
                          <div class="d-flex mb-2">
                            <label for="file-upload" class="btn btn-sm btn-dark-red-f">
                              <i class="las la-upload"></i> upload new photo
                            </label>
                            <input name="image" accept=".jpg,.gif,.png" id="file-upload" type="file" style="display: none;">
                          </div>
                          <p>You can upload .jpg, .gif or .png image files</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sub-section col-md-12 col-lg-8">
                    <div class="sub-section-title"><h6>profile details</h6></div>
                    <div class="sub-section-body">
                      <div class="user-details-form">
                        <div class="form-row">
                          <div class="form-group col-sm-6">
                            <label>first name</label><input class="form-control"
                              placeholder="jane" name="first_name" />
                          </div>
                          <div class="form-group col-sm-6">
                            <label>last name</label><input class="form-control"
                              placeholder="doe" name="last_name" />
                          </div>
                          <div class="form-group col-sm-6">
                            <label>Patient ID</label>
                            <input class="form-control" placeholder="AB1234567" name="passport_id" />
                          </div>
                          <div class="form-group col-sm-6">
                            <label for>Date of Birth</label>
                            <input class="form-control" type="date" name="birth_date">
                          </div>
                          <div class="form-group col-sm-6">
                            <label>Region</label>
                            <input class="form-control" placeholder="Region" name="region" />
                          </div>
                          <div class="form-group col-sm-6">
                            <label>City</label>
                            <input class="form-control" placeholder="City" name="city" />
                          </div>
                          <div class="form-group col-sm-6">
                            <label>Home Address</label>
                            <input class="form-control" placeholder="Home Address" name="address" />
                          </div>
                          <div class="form-group col-sm-6">
                            <label>Specialization</label>
                            <input class="form-control" placeholder="Specialization" name="specialization" />
                          </div>
                          <div class="form-group col-sm-6">
                            <label>telephone number</label>
                            <input class="form-control" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{7}" placeholder="998-93-1234567" type="tel" />
                          </div>
                          <div class="form-group col-sm-6">
                            <label>Experience</label>
                            <input class="form-control" name="experience" />
                          </div>
                          <div class="form-group col-sm-6">
                            <label>Meeting link</label>
                            <input class="form-control" name="meeting" type="tel" />
                          </div>
                          
                          <div class="form-group col-sm-6">
                            
                            <label>Gender:</label>
                            <input id="male" class="ml-2 cursor-pointer" type="radio" name="gender" value="male">
                            <label for="male">Male</label>
    
                            <input id="female" class="ml-2 cursor-pointer" type="radio" name="gender" value="female">
                            <label for="female">Female</label>
    
                            <input type="hidden" name="user_type" value="doctor">
                          </div>
                          <!-- nevergiveup3 -->
                        </div>
                      </div>
                      <div class="user-password-form">
                        <div class="form-row">
                          <div class="form-group col-sm-6">
                            <label>password</label>
                            <input class="form-control" type="password" name="password1" autocomplete="off" />
                          </div>
                          <div class="form-group col-sm-6">
                            <label>re-type password</label>
                            <input class="form-control" type="password" name="password2" autocomplete="off" />
                          </div>
                        </div>
                        <button class="btn btn-dark-red-f-gr mt-4">
                          <i class="las la-sync"></i>Save
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
{% endblock %}