

<ul class="list-group list-group-flush">
    <a class="list-group-item" href="{% url 'fr:dashboard' %}">
      <i class="las la-shapes la-lw"></i><span>dashboard</span>
    </a>
    <a class="list-group-item" href="{% url 'fr:appaintments' %}">
      <i class="las la-calendar-check"></i><span>appointments</span>
    </a>
    <a class="list-group-item" href="{% url 'fr:patients' %}">
      <i class="las la-calendar-check"></i><span>patients</span>
    </a>
    <a class="list-group-item" href="{% url 'fr:wards' %}">
      <i class="las la-calendar-check"></i><span>Wards</span>
    </a>
    <a class="list-group-item" href="{% url 'fr:ward_patients' %}">
      <i class="las la-calendar-check"></i><span>ward patients</span>
    </a>
    <a class="list-group-item" href="{% url 'fr:register_to_ward' %}">
      <i class="las la-calendar-check"></i><span>Register to a ward</span>
    </a>
    <a class="list-group-item" href="{% url 'fr:doctors' %}">
      <i class="las la-calendar-check"></i><span>specialists</span>
    </a>
    <a class="list-group-item" href="{% url 'ut:settings' %}">
      <i class="las la-calendar-check"></i><span>settings</span>
    </a>
  </ul>